<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">小说管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin">添加小说</a></dd>
                    <dd><a href="/admin/novelAll">所有小说</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/user">用户信息</a></dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/addUser">添加用户</a></dd>
                </dl>
            </li>
            
        </ul>
    </div>
</div>



<div class="layui-footer">
    <!-- 底部固定区域 -->
    © 2018 - 火柴小说网 - 火柴 - 蜀ICP-201800686 联系：1526659463
</div>
</div>
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/updateNovel.js"></script>

<!-- <script src="/layui/layui.js"></script>  -->
<script>
    //Demo
layui.use('form', function(){
  var form = layui.form;
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>

</body>

</html>